.card-pay {
  display: flex;
  flex-direction: column;
}

.card-pay .title {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-pay .button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.card-pay .button-container .button {
  max-width: 94px;
}

/* Step 1 */

.step-1 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.step-example {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
