.nav-container {
  position: relative;
}

.nav-container .content {
  padding: 24px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(14, 21, 32, 0.18),
    0px 0px 2px 0px rgba(14, 21, 32, 0.12), 0px 0px 2px 0px rgba(0, 0, 0, 0.04);
  color: var(--tbk-black);
  position: fixed;
  top: 250px;
}

.nav-container .content .title {
  padding: 8px 0px;
  border-bottom: 1px solid var(--tbk-red);
}

.nav-container .content .title span {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--tbk-black);
}

.nav-container .content li {
  padding: 8px 0px;
  color: var(--tbk-grey-2);
  font-size: 14px;
}

.nav-container .content li .active {
  color: var(--tbk-red);
  font-weight: 500;
}

@media (width <= 1535.98px) {
  .nav-container {
    display: none;
  }
}
