@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: Roboto, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --tbk-white: #fcfdfe;
  --tbk-red: #d5006c;
  --tbk-red-dark: #cc0066;
  --tbk-light-red: #d5006c0d;
  --tbk-border: #e7ebf3;
  --tbk-grey: #828ea5;
  --tbk-grey-2: #707382;
  --tbk-black: #0e1520;
  --tbk-black-2: #2d3338;
  --tbk-black-3: #333333;
  --tbk-black-bg: #1f242e;
  --tbk-border-blue: #c9d0e4;
  --tbk-table-header: rgba(213, 0, 108, 0.05);
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
}

h2 {
  margin-bottom: 0.5rem;
  margin-bottom: 1rem;
  line-height: 1.5rem;
  font-size: 1.125rem;
  font-weight: 700;
}

.tbk-shadow {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
}

.tbk-shadow-2 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.tbk-card-shadow {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.04),
    0px 4px 6px rgba(14, 21, 32, 0.12), 0px 0px 1px rgba(14, 21, 32, 0.18);
}

.tbk-card-shadow-2 {
  box-shadow: 0px 0px 4px -5px rgba(118, 127, 157, 0.3);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.gap-8 {
  gap: 2rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

/* card */
.card-pay {
  display: flex;
  flex-direction: column;
}

.card-pay .title {
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-pay .button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.card-pay .button-container .button {
  max-width: 94px;
}

/* Step 1 */

.step-1 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.step-example {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
