.tbk-sidebar {
  display: flex;
  flex-direction: column;
  row-gap: 3.5rem;
  height: fit-content;
  position: sticky;
  top: 105px;
}

.sidebar-divider {
  height: 1px;
  width: 100%;
  background-color: var(--tbk-border);
  margin: 16px 0px 8px 20px;
}

.tbk-sidebar .collapsible-items,
.tbk-sidebar-mobile .collapsible-items {
  line-height: 30px;
  padding: 8px 8px 8px 24px;
}

.sidebar-collapsible-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  padding-right: 12px;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
}

.sidebar-icons-rotate {
  transform: rotate(90deg);
}

.tbk-sidebar-item-title {
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: var(--tbk-grey);
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding-left: 24px;
}

.tbk-sidebar-item {
  display: flex;
  cursor: pointer;
  color: var(--tbk-grey-4);
  font-size: 15px;
}

.tbk-sidebar-hide .sidebar-content,
.tbk-sidebar-hide .tbk-sidebar-item-text {
  opacity: 0;
  transform: translateX(-20px);
}

.collapsible-items:hover {
  background-color: var(--tbk-white-red);
  border-start-end-radius: 16px;
  border-end-end-radius: 16px;
}

.collapsible-items.active {
  background-color: var(--tbk-sweet-red);
  border-start-end-radius: 16px;
  border-end-end-radius: 16px;
  font-weight: 500;
}

.collapsible-items.active .tbk-sidebar-item {
  color: var(--tbk-red);
}

.toogle-close-btn-container {
  position: absolute;
  top: 15px;
  right: 15px;
}

.tbk-vlose-toggle-btn {
  top: 15px;
  border: none;
  cursor: pointer;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.tbk-sidebar-mobile {
  display: none;
  flex-direction: column;
  row-gap: 2.5rem;
  border-right-width: 1px;
  border-top-width: 1px;
  border-color: var(--tbk-border);
  position: absolute;
  left: 0;
  top: 80px;
  z-index: 10;
  background-color: #fff;
  height: calc(100vh - 80px);
  padding: 20px 0px;
  overflow-y: scroll;
}

.toogle-btn-container {
  position: absolute;
  top: 0px;
  right: -15px;
  height: 100%;
}

.tbk-toggle-btn {
  position: sticky;
  top: 95px;
  width: 30px;
  height: 30px;
  background-color: var(--tbk-red);
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  transition: transform 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.tbk-sidebar-hide .tbk-toggle-btn {
  transform: rotate(180deg);
}

@media (width <= 991.98px) {
  .tbk-sidebar {
    display: none;
  }
  .tbk-sidebar-mobile.show {
    display: flex;
  }
}

.hide-op {
  display: none;
}
